// Place all the styles related to the staticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-inner{
  .carousel-item {
    height: 300px;
    overflow: hidden;
    img{
      height: 100%;
      min-width: 100%;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }
  }
}

.container{
  .fuck{
    color: #FF0000;
  }
}
